{{template "header"}}

    <title>Question-Answer</title>
</head>

<body>
    <header class="jumbotron bg">
        <div class="container" style="padding: 100px; color: white;">
            <h1>Welcome to Lee's Q-A System...</h1>
            <h4>知无不言，言无不尽，百人誉之不加密，百人毁之不加疏。</h4>
            <form class="input-group" style="width:  50%">
                <input type="text" placeholder="Please Input Your Question..." class="form-control">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">I've Done</button>
                </span>
            </form>
        </div>
    </header>

    {{template "footer"}}
</body>

<script src="/static/js/jqcloud-1.0.4.js"></script>

</html>