{{template "header"}}

    <title>Question-Answer</title>
</head>

<body>

    {{template "navigator" .}}
    <header class="jumbotron bg">
        <div class="container" style="padding: 100px; color: white;">
            <h1 style="text-transform: none; font-family: Roboto;">Welcome to Lee's Q-A System...</h1>
            <h4>知无不言，言无不尽，百人誉之不加密，百人毁之不加疏。</h4>
            <form class="input-group" style="padding: 20px 30px; margin-top: 100px;" id="question-form" action="/api/qa/answer" method="get">
                <input type="text" placeholder="Please Input Your Question..." class="form-control" name="question" id="question">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">I've Done</button>
                </span>
            </form>
            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 100%;" id="progress-bar">
                    <span id="progress-writer" style="color: black;"></span>
                </div>
            </div>
        </div>

    </header>

    <div style="background-color: #465b74;">
        <div class="container">
            <div class="row" id="answer-area">
            </div>
        </div>


    </div>

    {{template "footer"}}
</body>

<script>
    function set_progress(percents, content) {
        $("#progress-bar").css("width", percents+"%")
        $("#progress-writer").html(content)
    }
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms))
    }

    function add_answer(question, answer, question_id) {
        var answer_div = $("<div class=\"col-12 col-md-4 col-sm-6\" style=\"display: none;\" id=\"" + question_id + "\">\n" +
                "                    <div style=\"width: 100%; padding: 20px; height: 100%;\">\n" +
                "                        <div class=\"card card-block\" style=\"height: 100%;\">\n" +
                "                            <h4 class=\"card-title\">" + question + "</h4>\n" +
                "                            <p class=\"card-text\">" + answer + "</p>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>")
        $("#answer-area").append(answer_div)
        answer_div.fadeIn("slow")
    }

    $(document).ready(function () {
        set_progress(100, "请输入问题...")
        $('#question-form').submit(function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(msg) {
                    msg = JSON.parse(msg)
                    if (msg.error) {
                        set_progress(20, "发送失败，服务器异常。")
                        alert(msg.error)
                        // Internal error
                    } else {
                        // request the answer api,
                        set_progress(20, "处理中...")
                        set_answer(msg.question_id)
                    }
                }
            })
        });

        async function set_answer(question_id) {
            var count = 20, ok = false;
            loop:while(count < 100) {
                $.ajax({
                    type: "GET",
                    url: "/api/qa/answer/"+question_id,
                    success: function (msg) {
                        msg = JSON.parse(msg)
                        if (msg.msg) {
                            count = 100;
                            ok = true
                            add_answer(msg.question, msg.answer, question_id)
                        }
                    }
                });
                count += 10
                await sleep(1000)
                set_progress(count, "处理问题中。")
            }
            if (!ok) {
                set_progress(100, "答案生成失败，请重试。")
            } else {
                set_progress(100, "答案生成成功！")
            }
        };
    })
</script>

<script src="/static/js/jqcloud-1.0.4.js"></script>

</html>