{{template "header"}}
<title>About developer</title>

<style>
    .text-muted {
        color: #7BE !important;
    }
</style>
<body style="background-color: #465b74; color: #ffffff;">
    {{template "navigator" .}}

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">哀吾生之须臾，羡长江之无穷。</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018.3.5</h4>
                                    <h4 class="subheading">启动毕业设计</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">DuReader竞赛开始报名，发放数据集，下载领域相关论文进行学习。实践机器学习框架tensorflow。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018.4.3</h4>
                                    <h4 class="subheading">第一次提交结果</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">随着对R-net模型的了解和代码编写完毕，首次运行模型并应用在测试集上，提交结果Rouge-L评分为42.52，BLEU-4评分为35.97。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018.4.10</h4>
                                    <h4 class="subheading">提交第二个模型</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">学习曾占据Squad榜首的BiDAF模型，修改开源测试代码和数据导入模块。首次提交该模型，结果Rouge-L评分为44.13，BLEU-4评分为39.7。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018.4.30</h4>
                                    <h4 class="subheading">集成模型</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">比赛结束，根据集成模型策略将两个模型产生的结果提交到测评网站，三万个问答Rouge-L评分为47.49，最终测评数据集六万个问答评分为45.17。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018.5.20</h4>
                                    <h4 class="subheading">服务器部署</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">将问答系统功能写入后台单独模块，并为其开发一个独立系统调用，包含文档自动化查找等功能，使用Docker容器自动化部署。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>TO BE
                                    <br>CONTINUE
                                    <br>...</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {{template "footer"}}
</body>

<script>
    Sticker.init(".sticker")
</script>
</html>