{{template "header"}}
<link href="/static/css/jqcloud.css" rel="stylesheet">
<title>Summary</title>
<style>
    #ref_list {
        text-align: left;
    }

    .summary-list p::first-letter {
        font-size: 200%;
    }
    
    .keywords {
        margin: 0 auto;
        min-height: 300px;
        border: 1px solid #333;
        border-radius: 1%;
    }

    .list-group-item a {
        color: black;
    }
</style>

    <body style="padding: 0px;">
            <div class="row">
                <!--  Digest Content Layout  -->
                <div class="col-md-7 offset-md-1">
                    <div class="col-md-12">
                        <h2 id="title-1"></h1>
                        <h3 id="title-2"></h3>
                        <h4 id="title-3"></h4>
                    </div>

                    <blockquote class="blockquote" id="paper-abstract"></blockquote>
                    <hr>
                    
                    <div class="summary-list"></div>
                </div>
                <!--  End Digest Content Layout  -->

                <!--  Reference and Keywords Layout  -->
                <div class="col-md-3">
                    <div class="keywords">
                    </div>
                    <hr>

                    <div class="reference-div">
                        <h2>参考文献</h2>
                        <div>
                            <ul class="reference-list list-group">
                            </ul>
                        </div>
                    </div>

                </div>
                
                
                
                <!--  End Reference and Keywords Layout  -->
                
            </div>


    </body>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jqcloud-1.0.4.js"></script>
    <script src="/static/js/PerfectLoad.js"></script>
    <script>
    </script>

    <script>
        $(document).ready(function() {
            $(function () {
                $.MyCommon.PageLoading({ loadingTips: "正在处理数据，请稍候..." });
            })
        });
        function display_data(data) {
            titles = data.Title.split("\n").filter(x => x != "" && x != "\n")
            titles = titles.slice(titles.length-3, titles.length)
            $("#title-1").html(titles[0])
            $("#title-2").html(titles[1])
            $("#title-3").html(titles[2])

            $('#paper-abstract').append("<p>" + data.Abstract + "</p>");
            data.Digest.slice(0, 5).map(c => $(".summary-list").append("<p>" + c + "</p>"))

            word_array = []
            data.Keywords.forEach(k => {
                replace_char = ["关键词", "Keywords", "；", ";", "【", "】", "[", "]", ":", "："]
                for (var i = 0; i < replace_char.length; ++i) {
                    k = k.replace(replace_char[i], "")
                }
                word_array.push({text: k})
            })
            $(".keywords").jQCloud(word_array)
            
            data.References.slice(0, 5).forEach(r => {
                $(".reference-list").append("<li class=\"list-group-item\"><a href=\"http://xueshu.baidu.com/s?wd=" + r + "\" target=\"_blank\">" + r + "</a></li>")
            })
        }

        // ajax request, backend should find keywords from Baidu baike, if have we give it a link.
        $.get("/api/digest/paper/" + window.location.href.split("/").slice(-1), function(data, status) {
            data = JSON.parse(data)
            display_data(data)
            $.MyCommon.end()
        });


    </script>
</html>