{{template "header"}}
<link href="/static/css/jqcloud.css" rel="stylesheet">
<title>Summary</title>
<style>
    #ref_list {
        text-align: left;
    }
</style>

    <body style="padding: 0px;">
        <div class="title-author" style="text-align: center;">

        </div>
    
        <div class="keyword-cloud">
    
        </div>

        <!-- nav bar -->
        <header class="jumbotron" style="background-color: #333;">
            <div class="row justify-content-center align-items-center" class="text-align: center">
                <div class="col-lg-3 hidden-md-down">
                    <div class="">
                        <h1>参考论文:</h1>
                            <ul id="ref_list">
                            </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                        <div id="keywords" style="min-height: 250px;float:none; display: block; margin-left: auto; margin-right: auto;"></div>
                </div>
                <div class="col-lg-3 hidden-md-down">
                    <div class="">
                        <h1>Related Work:</h1>
                        <h2></h2>
                    </div>
                </div>                
            </div>
        </header>
        <div class="row">
            <div class="col-md-4" id="paper-abstract"></div>
            <div class="col-md-4" id="abstract1"></div>
            <div class="col-md-4" id="abstract2"></div>            
        </div>

    </body>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jqcloud-1.0.4.js"></script>
    <script src="/static/js/PerfectLoad.js"></script>
    <script>
    </script>

    <script>
        $(document).ready(function() {
            $(function () {
                $.MyCommon.PageLoading({ loadingTips: "正在处理数据，请稍候..." });
            })
        });
        function display_data(data) {
            data.Title.split("\n").forEach(t => {
                if (t != "") {
                    $('.title-author').append("<h3>" + t + "</h3>")
                }
            });
            $('#paper-abstract').append("<p>" + data.Abstract + "</p>");
            for (var i = 0; i < 20; i++) {
                $("#abstract" + (Math.floor(i/5)+1)).append("<p>" + data.Digest[i] + "</p>")
            }

            word_array = []
            data.Keywords.forEach(k => {
                replace_char = ["关键词", "Keywords", "；", ";", "【", "】", "[", "]", ":", "："]
                for (var i = 0; i < replace_char.length; ++i) {
                    k = k.replace(replace_char[i], "")
                }
                word_array.push({text: k})
            })
            $("#keywords").jQCloud(word_array)
            
            data.References.slice(0, 3).forEach(r => {
                $("#ref_list").append("<li>" + r + "</li>")
            })
        }

        // ajax request, backend should find keywords from Baidu baike, if have we give it a link.
        $.get("/api/digest/paper/" + window.location.href.split("/").slice(-1), function(data, status) {
            data = JSON.parse(data)
            debugger;
            display_data(data)
            $.MyCommon.end()
        });


    </script>
</html>