<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/bootstrap-social.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <script src="/static/js/tether.min.js"></script>    
    <script src="/static/js/bootstrap.min.js"></script>
    <title>index</title>
</head>
<body>
        <nav class="navbar navbar-inverse navbar-toggleable-sm bg-primary fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <a class="navbar-brand" href="#"><img height="30" width="41" src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1519462678&di=0e03955ccebea02394cd4b458c69ac4e&src=http://img.zcool.cn/community/010bee581c312ea84a0e282b8f8a34.jpg@900w_1l_2o_100sh.jpg"></a>
                <div class="collapse navbar-collapse" id="Navbar">       
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-home fa-lg"></span>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Funcs<b class="caret"></b></a>
                            <ul class="dropdown-menu bg-primary">
                                <li class="nav-item"><a class="nav-link">文本摘要</a></li>
                                <li class="nav-item"><a>问答系统</a></li>
                                <li class="divider"><a></a></li>
                                <li class="nav-item"><a>结束</a></li>                                
                            </ul>
                        </li>
                    </ul>

                    <span class="navbar-text">
                        <a data-toggle="modal" data-target="#loginModal">
                            <span class="fa fa-sign-in"></span>Login
                        </a>
                    </span>
                </div>
            </div>
        </nav>

        <div id="loginModal" class="modal fade" role="dialog">
            <div class="modal-dialog" role="content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Login</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>   <!--关闭符号-->
                    </div>
                    <div class="modal-body">

                    </div> 
                    <div class="modal-footer">
                        Footer-Submit
                    </div>
                </div>
            </div>
        </div>
        
            <header class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-8">
                            <h1>Hahaha</h1>
                            <p>It is your faalkfds.</p>    
                        </div>
                        <div class="col col-sm align-self-center">
                            <img class="img-fluid" src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1519462678&di=0e03955ccebea02394cd4b458c69ac4e&src=http://img.zcool.cn/community/010bee581c312ea84a0e282b8f8a34.jpg@900w_1l_2o_100sh.jpg">
                        </div>

                        <div class="col col-sm align-self-center">
                            <a role="button" class="btn btn-block btn-sm nav-link btn-warning" data-toggle="tooltip" data-html="true" title="Or Call us <br><strong>aklsdf</strong>" href="#reserveform" data-placement="bottom">Reserve Table</a>
                        </div>
                    </div>    
                </div>    
            </header>

            
        <div class="container">
            <div class="row">
                    <div class="col">
                        <div class="carousel slide" id="mycarousel" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-fluid"
                                        src="img/uthappizza.png" alt="Uthappizza">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h2>Uthappizza <span class="badge badge-danger">HOT</span> <span class="badge badge-pill badge-default">$4.99</span></h2>
                                        . . .
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h2>Second Carousel</h2>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <h1>ajskldf</h1>
                                </div>
                            </div>
                        
                        <ol class="carousel-indicators">
                            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#mycarousel" data-slide-to="1"></li>
                            <li data-target="#mycarousel" data-slide-to="2"></li>
                        </ol>
                        <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                    </div>
                </div>
        </div>
        
            <div class="container">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#peter" role="tab" data-toggle="tab">Peter, CEO</a>
                        </li>
                        <li class="nva-item" href="#lee" role="tab" data-toggle="tab">
                            <a class="nav-link" href="#lee" role="tab" data-toggle="tab">Lee, CTO</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" role="tabpanel" id="peter">
                            <h1>Peter Content</h1>
                        </div>
                        <div class="tab-pane fade show" role="tabpanel" id="lee">
                            <h1>Lee Content</h1>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div id="accordion" role="rablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="peterhead">
                                    <h3 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#peteraccordion">Peter Head<small>small peter</small></a>
                                    </h3>
                                </div>
                            </div>
                            <div role="tabpanel" class="collapse show" id="peteraccordion">
                                    <div class="card-block">
                                        <h3>peter content</h3>
                                    </div>
                            </div>

                            <div class="card">
                                <div class="card-header" role="tab" id="peterhead">
                                    <h3 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#leeaccordion">Lee Header</a>
                                    </h3>
                                </div>
                            </div>                            
                            <div role="tabpanel" class="collapse show" id="leeaccordion">
                                <div class="card-block">
                                    <h3>lee card content</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="row">
                    <ol class="col-12 breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-11 offset-sm-1">
                        <div class="btn-group" role="group">
                            <a role="button" class="btn"></a>
                            <a role="button" class="btn"></a>
                        </div>
                    </div>

                    <div class="col-12 col-sm-9">
                        <form>
                            <div class="form-group row">
                                <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                        placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastname" class="col-md-2 col-form-label">First Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                        placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="telnum" class="col-md-2 col-form-label">Test Label</label>
                                <div class="col-5 col-sm-4 col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon">(</div>
                                        <input type="text" class="form-control" id="area" name="area"
                                            placeholder="Area Code">
                                        <div class="input-group-addon">)</div>
                                    </div>
                                </div>
                                <div class="col-7 col-sm-7 col-md-7">
                                <input type="text" class="form-control" id="test2" name="test2"
                                    placeholder="Test2">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="form-check col-md-6 offset-md-2">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="approve" value="">
                                        <strong>May we contact you?</strong>
                                    </label>
                                </div>
                                <div class="col-md-3 offset-md-1">
                                    <select class="form-control">
                                        <option>Tel.</option>
                                        <option>Email</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="feedback" class="col-md-2 col-form-label">Feedback</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-md-2 col-md-10">
                                    <button type="submit" class="btn btn-primary">
                                        Send Feedback
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        
        <div class="row row-content">
            <div class="col-sm-6">
                <h2>Our History</h2>
                <p>lajklafjkdd</p>
                <p>asdlfk</p>
            </div>
            <div class="col-sm">
                <div class="card">
                    <h3 class="card-header bg-primary text-white">Facts At a Glance</h3>
                    <div class="card-block">
                        <dl class="row">
                            <dt class="col-6">Started</dt>
                            <dd class="col-6">3 Feb. 2013</dd>
                            <dt class="col-6">Major Stake Holder</dt>
                            <dd class="col-6">HK Find Foods Inc.</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12 col-sm-9">
                <h2>Facts &amp; Figures</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>&nbsp;</th>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr>
                                <th>Employees</th>
                                <td>15</td>
                                <td>30</td>
                                <td>40</td>   
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="card card-block bg-faded">
                    <blackquote class="blockquote">
                        <p class="mb-0">You better cut the pizza in four pieces beacause I'm not hungry enough to eat six.</p>
                        <footer class="blockquote-footer">
                            Li JIAHLS,
                            <cite title="Source Title">asdf'l;ka; dfklsadlfadklsjjklads</cite>
                        </footer>
                    </blackquote>
                </div>
            </div>
        </div>
    
    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-sm-4 col-md-3 flex-last">
                <h3>1. Flex Last</h3>
            </div>
            <div class="col-sm col-md flex-first">
                <div class="media">
                    <img class="d-flex mr-3 img-thumbnail align-self-center" alt="test" src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1519462678&di=0e03955ccebea02394cd4b458c69ac4e&src=http://img.zcool.cn/community/010bee581c312ea84a0e282b8f8a34.jpg@900w_1l_2o_100sh.jpg">
                    <div class="media-body">
                        <h2 class="media-heading">2. Flex First2
                            <span class="badge badge-danger">HOT</span>
                            <span class="badge badge-pill badge-default">￥4.99</span>
                        </h2>
                        <p class="hidden-xs-down">This is a paragraph.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Warning:</strong>:Please
        <a href="tel:+8521234890" class="alert-link">call</a>
        us is asjldkf.
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width:80%">80%</div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm align-self-center">
                <div>
                    <a class="btn btn-social-icon btn-google-plus" href="http://www.baidu.com"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.baidu.com"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.baidu.com"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://www.baidu.com"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-youtube" href="http://www.baidu.com"></a>
                </div>
            </div>
        </div>
    </footer>
</body>

<script>
    $(document).ready(function (){
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
</html>