{{define "header"}}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-social.css" rel="stylesheet">
        <link href="/static/css/font-awesome.css" rel="stylesheet">
        <link href="/static/css/fileinput.css" rel="stylesheet">
        <link href="/static/themes/explorer-fa/theme.css" rel="stylesheet">
        <link href="/static/css/agency.min.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet" type="text/css">
    </head>
{{end}}

{{define "navigator"}}
    <!-- fix top nav bar-->
    <nav class="navbar navbar-expend navbar-inverse navbar-toggleable-sm bg-primary fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!--<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap"><svg class="d-block" width="36" height="36" viewBox="0 0 612 612" xmlns="http://www.w3.org/2000/svg" focusable="false"><title>Bootstrap</title><path fill="currentColor" d="M510 8a94.3 94.3 0 0 1 94 94v408a94.3 94.3 0 0 1-94 94H102a94.3 94.3 0 0 1-94-94V102a94.3 94.3 0 0 1 94-94h408m0-8H102C45.9 0 0 45.9 0 102v408c0 56.1 45.9 102 102 102h408c56.1 0 102-45.9 102-102V102C612 45.9 566.1 0 510 0z"></path><path fill="currentColor" d="M196.77 471.5V154.43h124.15c54.27 0 91 31.64 91 79.1 0 33-24.17 63.72-54.71 69.21v1.76c43.07 5.49 70.75 35.82 70.75 78 0 55.81-40 89-107.45 89zm39.55-180.4h63.28c46.8 0 72.29-18.68 72.29-53 0-31.42-21.53-48.78-60-48.78h-75.57zm78.22 145.46c47.68 0 72.73-19.34 72.73-56s-25.93-55.37-76.46-55.37h-74.49v111.4z"></path></svg>
            </a>-->
            <!--<a class="navbar-brand" href="#"><img height="30" width="41" src=""></a>-->

            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{if eq .PageType "index"}}active {{end}}">
                        <a class="nav-link" href="/"><span class="fa fa-home fa-lg mr-1"></span>Home</a>
                    </li>
                    <li class="nav-item {{if eq .PageType "digest"}}active {{end}}">
                        <a class="nav-link" href="/digest" data-toggle="modal" data-target="#digestModal"><span class="fa fa-scissors mr-1"></span>Digest</a>
                    </li>
                    <li class="nav-item {{if eq .PageType "question"}}active {{end}}">
                        <a class="nav-link" href="/q-a"><span class="fa fa-question mr-1"></span>QATest</a>
                    </li>
                    <li class="nav-item {{if eq .PageType "contact"}}active {{end}}">
                        <a class="nav-link" href="/contact"><span class="fa fa-wechat mr-1"><span class="info"></span>Contact</a>
                    </li>
                </ul>

                <span class="navbar-text">
                {{ if .User }}
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">{{.User.Username}}</button>
                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/userinfo/{{.User.UserId}}"><span>Settings</span><img class="rounded-circle" style="width: 25px; height: 25px; float: right;" src="{{.User.Avatar}}" alt="头像"/></a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item btn btn-danger" href="/api/logout">Sign out</a>
                        </div>
                    </div>
                {{else }}
                    <a data-toggle="modal" data-target="#loginModal" id="login-toggler">
                        <span class="fa fa-sign-in mr-1"></span>Login
                    </a>
                {{ end }}
                </span>
            </div>
        </div>
    </nav>

    <div class="modal fade" role="dialog" id="loginModal">
        <div class="modal-dialog" role="content">
            <div class="modal-content">
                <form method="get" action="/api/login" id="login-form">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: #000;">Login</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body" id="login-body">
                        <div class="form-group row">
                            <label for="firstname" class="col-md-3 col-form-label" style="color: #000;">First Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="username" name="username" placeholder="User Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-3 col-form-label" style="color: #000;">Password</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input class="form-control" id="password" name="password" type="password" placeholder="Password">
                                    <div class="input-group-addon" id="password-disp"><a><span class="fa fa-eye"></span></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="form-check col-md-6 offset-md-3">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="approve" value="">
                                    <strong style="color: #000;">Remeber you?</strong>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row" style="margin-right: -60px;">
                            <div class="col-md-7">
                                <a class="btn btn-social-icon btn-google-plus" href="#" title="googleplus"><i class="fa fa-google-plus"></i></a>
                                <a class="btn btn-social-icon btn-facebook" href="#" title="facebook"><i class="fa fa-facebook"></i></a>
                                <a class="btn btn-social-icon btn-linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a class="btn btn-social-icon btn-twitter" href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                                <a class="btn btn-social-icon btn-github" href="javascript:void(0)" title="github"><i class="fa fa-github"></i></a>
                            </div>
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- digest upload div-->
    <div class="modal fade" role="dialog" id="digestModal">
        <div class="modal-dialog" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="color: #000;">Upload paper</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            {{ if .User}} {{else}}
                <div class="alert alert-danger" role="alert">
                    The files will not saved, you could <strong href="#" class="alert-link">log in</strong>.
                </div>
            {{ end }}

                <div class="modal-content">
                    <div class="file-loading">
                        <input id="digest-upload" name="digest-upload[]" type="file" multiple>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end digest upload div-->
{{end}}

{{define "footer"}}
    <footer class="footer">
        <div class="container">
            <h3 style="font-family: Roboto;">Contact</h3>
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <p style="font-size: 25px;">Github: </br><a href="https://github.com/gajanlee/Posger" target="_blank">Gajanlee's Project</a></p>
                </div>
                <div class="col-12 col-md-4">
                    <p style="font-size: 25px;">Csdn: </br><a href="https://blog.csdn.net/Wind_white" target="_blank">Wind_white's Blog</a></p>
                </div>
                <div class="col-12 col-md-4">
                    <p style="font-size: 25px;">E-mail: </br><a href="mailto:20143616@stu.neu.edu.cn">20143616@stu.neu.edu.cn</a></p>
                </div>
            </div>
            <div class="row">
                <div class="container col-auto">
                    @2018 Designed by LeeJiazheng2
                </div>
            </div>
        </div>
    </footer>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/plugins/sortable.js"></script>
    <script src="/static/js/fileinput.js"></script>
    <script src="/static/themes/explorer-fa/theme.js"></script>
    <script src="/static/themes/fa/theme.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){

            /**
             * Login Function,,, ajax-api, If login successfully, refresh the page.
             * If not, show the error msg.*/
            $("#login-form").submit(function (event) {
                event.preventDefault()
                var form = $(this);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (msg) {
                        if (JSON.parse(msg).error) {
                            $("#login-body").prepend('<div class="alert alert-dismissible alert-danger fade show" role="alert">\n' +
                                    '           <span id="login-alert-content">' + JSON.parse(msg).error + '</span>\n' +
                                    '               <button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                                    '                   <span aria-hidden="true">&times;</span>\n' +
                                    '               </button>\n' +
                                    '      </div>')
                        } else {
                            // login successfully, refresh the page
                            location.reload()
                        }
                    },
                })
            })

            /**
             * Password visible toggle button.*/
            $('#password-disp').click(function() {
                if ($('#password').attr('type') == undefined) {
                    $('#password').attr('type', "password");
                } else {
                    $('#password').removeAttr('type');
                }
            });
            /**
             * oAuth2 page forward assembled url.*/
            $('.btn-social-icon').click(function() {
                // get the inc Name by third class.
                location.href = "/oauth2/" + $(this).attr("class").split(' ')[2].slice(4) + "/redirect"
            });

            /**
             * Digest upload pdf/doc file inputs, must load the font-awesome.css for this example*/
                    // file_datas is used to store files meta data
            var file_datas = {}
            $("#digest-upload").fileinput({
                theme: "explorer-fa",
                uploadUrl: "/api/digest/paper",
                minFileCount: 1,
                maxFileCount: 5,
                overwriteInitial: false,
                previewFileIcon: '<i class="fa fa-file"></i>',
                preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
                previewFileIconSettings: { // configure your icon file extensions
                    'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                    'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                    'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'htm': '<i class="fa fa-file-code-o text-info"></i>',
                    'txt': '<i class="fa fa-file-text-o text-info"></i>',
                    'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
                    'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                },
                previewFileExtSettings: { // configure the logic for determining icon file extensions
                    'doc': function(ext) {
                        return ext.match(/(doc|docx)$/i);
                    },
                    'xls': function(ext) {
                        return ext.match(/(xls|xlsx)$/i);
                    },
                    'ppt': function(ext) {
                        return ext.match(/(ppt|pptx)$/i);
                    },
                    'zip': function(ext) {
                        return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                    },
                    'htm': function(ext) {
                        return ext.match(/(htm|html)$/i);
                    },
                    'txt': function(ext) {
                        return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                    },
                    'mov': function(ext) {
                        return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                    },
                    'mp3': function(ext) {
                        return ext.match(/(mp3|wav)$/i);
                    }
                }
            }).on('fileuploaded', function(event, data, previewId, index) {
                // the index is also point to the file_datas
                file_datas[previewId] = data.response

                var form = data.form, files = data.files, extra = data.extra,
                        response = data.response, reader = data.reader;

                $("#" + previewId + " .file-details-cell").click(function(){
                    window.open("/api/digest/paper/" + previewId)
                });
                console.log('File uploaded trigged');
            }).on('filesuccessremove', function(event, id) {
                console.log(file_datas)
                $.ajax({
                    url: "/api/digest/paper/" + file_datas[id].id,
                    type: "DELETE",
                    success: function (msg) {
                        console.log(msg)
                        debugger
                    },
                })
                delete file_datas[id]
                debugger
            });
        });

    </script>
{{end}}
