<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="/static/css/bootstrap-social.css" rel="stylesheet">
        <link href="/static/css/font-awesome.css" rel="stylesheet">
        <link href="/static/css/jqcloud.css" rel="stylesheet">
        
        <title>Index Page</title>
    </head>

    <body>
        <!-- nav bar -->
        <header class="jumbotron">
            <div class="row justify-content-center align-items-center" class="text-align: center">
                <div class="col-lg-3 hidden-md-down">
                    <div class="">
                        <h1>Reference:</h1>
                            <ul id="ref_list">
                                <li>...</li>
                                <li><a>First Document</a></li>
                                <li>Second Document</li>
                                <li>Third Document</li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                        <div id="keywords" style="min-height: 250px;float:none; display: block; margin-left: auto; margin-right: auto;"></div>
                </div>
                <div class="col-lg-3 hidden-md-down">
                    <div class="">
                        <h1>Related Work:</h1>
                        <h2></h2>
                    </div>
                </div>                
            </div>
        </header>
        <div class="row">
            <div class="container">
                <div class="offset-md-2 col-md-6 offset-xs-0 col-xs-12">
                    <h1>Title</h1>
                    <div class="row">
                        <div >
                            <span id="abstract"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            img
                        </div>
                        <div class="col-md-8">
                            This is a testing paragraph, we can test it by such as a long term sentences. But we also eat Itality noodle;
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-8 col-md-pull-4">
                                This is a paragraph.
                            </div>
                        <div class="col-md-4 col-md-push-8">
                            This is a img.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/tether.min.js"></script>    
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jqcloud-1.0.4.js"></script>

    <script>
        $(document).ready(function() {

        });
        // ajax request, backend should find keywords from Baidu baike, if have we give it a link.
        var word_array = []
        $(function() {
            $.get("../info/1", function(data, status) {
                data = JSON.parse(data)
                //TODO: Keywords's weight
                $("#abstract").text(data.Abstract)
                $("#ref_list").empty()
                $.each(data.References.slice(0, 3), function (index, value) {
                    $("#ref_list").append("<li>" + value + "</li>")
                })
                for (var i = 0; i < data.Keywords.length; i++) {
                    word_array.push({
                        text: data.Keywords[i]
                    })
                }
                console.log(data)
                debugger;
                $("#keywords").jQCloud(word_array)

            });
            $("#keywords").jQCloud(word_array)


        });
    </script>
</html>