{{template "header"}}     {{/* 把变量传入header模板中 */}}
<title>User Info</title>

<style type="text/css">
    h5 {
        text-transform: none;
        color: #5cb85c;
    }
    .paper-title {
        color: #3c763d!important;
    }
    .pointer:hover {
        cursor: pointer;
    }
    .paper-item {
        border: 2px gray solid;
    }

    .content-padding {
        padding: 25px;
    }

    .border-partition {
        border-left: 2px gray solid;
    }

    .user-avatar {
        width: 100%;
        margin: 30px 0px 30px 0px;
    }

    .user-name {
        font-size: 32px;
        font-weight: 600;
        text-transform: none;
    }

    .user-info {
        text-align: center;
    }

</style>

<body>
    {{template "navigator" .}}

        <div class="container">
            <div class="row">
                <div class="col-sm-8 content-padding">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            Files List (已上传文件)
                        </a>
                        {{if eq (len .Papers) 0}}
                            <a href="#" class="list-group-item list-group-item-action">还没有上传文件哦！</a>
                        {{end}}
                        {{with .Papers}}
                        {{range .}}
                            <a class="list-group-item list-group-item-action flex-column align-items-start list-group-item-success paper-title">
                                <div class="d-flex w-100 justify-content-between">
                                    <div >
                                        <h5 class="mb-0" style="float: left;">{{.Name}}</h5>
                                        <div style="float: left; margin-left: 15px;">
                                            <i class="fa fa-download pointer" style="color:#d2691e!important" aria-hidden="true" onclick="window.open('/static/articles/{{.PaperId}}')" title="下载"></i>
                                            <i class="fa fa-newspaper-o pointer" style="color:#d2691e!important" aria-hidden="true" onclick="window.open('/digest/{{.PaperId}}')" title="生成模板"></i>
                                            <i class="fa fa-trash-o pointer" style="color:#d2691e!important" aria-hidden="true" onclick="delete_paper({{.PaperId}});" title="删除文件"></i>
                                        </div>
                                    </div>
                                    <small>{{showTime .C_Time}}</small>
                                </div>
                            </a>
                        {{end}}
                        {{end}}
                        <span style="text-align: right">共计： {{len .Papers}} 个文件</span>
                    </div>
                </div>

                {{ with .User}}
                <div class="col-sm-4 user-info content-padding">
                    <div class="border-partition">
                    <a href="#" >
                        <img src="{{.Avatar}}" class="user-avatar">
                    </a>
                    <h1 class="user-name">{{.Username}}</h1>
                    <pre>{{.Bio}}</pre>

                    </div>
                </div>
                {{ end}}
            </div>
        </div>

    {{template "footer"}}
</body>

<script>
    function delete_paper(id, name) {
        $.ajax({
            type: "DELETE",
            url: "/api/digest/paper/"+id,
            success: function(msg) {
                msg = JSON.parse(msg)
                if (msg.error) {
                    alert("删除失败, " + name)
                } else {
                    location.reload()
                }
            }
        })
    }
</script>
</html>